{% extends 'polls/layout.html' %}

{% block title %}Профиль{% endblock %}
{% block content %}
      <div style="float: left;">
          <h2 class="account-heading">Login: {{ user.username }}</h2>
          <p class="text-secondary">Email: {{ user.email }}</p>
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      </div>
      <div>
          <a class="nav-item nav-link" href=""><button class="button button3" style="margin: 150px 10px 150px;">Add image/Change image</button></a>
      </div>
{% endblock content %}